/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TIPO DE FONTE Poppins' ,sans-serif ;
}

body{
    background-color: #DDC04C;
    height: 100vh;
}

.interface{
    max-width: 1280;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header  .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #000;
    transform: scale(1);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0D6038;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #0D6038 ;
}

/* ESTILO DO TIPO DE TEXTO */
section.topo-do-site{
    padding: 10PX 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #000;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: #000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: panorama 2s ease-in-out infinite alternate;
}

@keyframes panorama{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}