* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #DDC04C;
  }

  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 80px;
  }

  .logo img{
    width: 64px;
  }

  .menu-itens a img{
    width: 26px;
  }

  .menu-itens a{
    margin-left: 30px;
  }

  .content{
    height: calc(100vh - 80px);
    width: 100%;
    padding: 0 5%;
    background-color: #DDC04C;
    display: flex;
  }

  .left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .left-side h1{
    font-size: 50px;
    color: #000;
  }

  .left-side p{
    color: #000;
    margin-bottom: 50px;
  }

  .left-side span{
    font-size: 30px;
    font-weight: 500;
    color: #0000;
  }

  .left-side a{
    text-decoration: none;
    color: #ffff;
    background-color: #0D6038;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 5px;
  }